<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tienda_Vidrios</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="~/WebStyles/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/WebStyles/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/WebStyles/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/WebStyles/css/style.css" rel="stylesheet">

    <style>
        body {
            background: #fff; /* Background color to avoid flash of white */
            transition: background 0.5s ease-in-out;
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100vw;
            display: none; /* Hide body until background is loaded */
        }

        #spinner {
            display: none;
        }

            #spinner.show {
                display: flex;
            }

        .card {
            position: relative;
            overflow: hidden;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            background-color: #e8e8e8;
            transition: box-shadow 0.5s ease-in-out;
        }

        .glow {
            box-shadow: 0 0 20px 5px blue !important;
        }
    </style>
</head>

<body>
    <!-- header -->
    <div style="background: url('/images/2.jpeg') no-repeat; background-size: cover;">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/WebStyles/lib/chart/chart.min.js"></script>
    <script src="~/WebStyles/lib/easing/easing.min.js"></script>
    <script src="~/WebStyles/lib/waypoints/waypoints.min.js"></script>
    <script src="~/WebStyles/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/WebStyles/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/WebStyles/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/WebStyles/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/WebStyles/js/main.js"></script>
    @RenderSection("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const images = [
                '/images/im2.jpg',
             
                '/images/im1.jpg',          
                '/images/im4.jpg',
                '/images/im3.jpg',          
                '/images/im5.jpg',
             
     
        
            ];

            let currentIndex = 0;
            const preloadImages = () => {
                images.forEach(src => {
                    const img = new Image();
                    img.src = src;
                });
            };
            function changeBackgroundImage() {
                currentIndex = (currentIndex + 1) % images.length;
                document.body.style.backgroundImage = `url(${images[currentIndex]})`;
            }
            const img = new Image();
            img.src = images[currentIndex];
            img.onload = () => {
                document.body.style.backgroundImage = `url(${images[currentIndex]})`;
                document.body.style.display = 'block';
                preloadImages();
            };

            setInterval(changeBackgroundImage, 3700);
            setTimeout(() => {
                document.getElementById('spinner').classList.remove('show');
            }, 1000);

            const card = document.querySelector('.card');
            let glow = false;

            function toggleGlow() {
                glow = !glow;
                if (glow) {
                    card.classList.add('glow');
                } else {
                    card.classList.remove('glow');
                }
            }

            setInterval(toggleGlow, 2000); // Tiempo de la luz
        });
    </script>
</body>

</html>
