@model Tienda_Vidreos.Entities.UsuarioEnt

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <p>Tienda de Vidreos</p>
                <h1>Datos de Perfil</h1>
            </div>
        </div>
    </div>
</div>

<section class="profile">
    <div class="user-content">
        <div class="user-image">
            <img src="~/images/Perfil/face1.jpg" /><br>
        </div><br><br>
                  <div class="user-info">
                      <h4>Nombre de Usuario</h4>
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="nombreUsuario" value="@Session["NombreUsuario"].ToString()" readonly>
                          <label for="nombreUsuario">Nombre de Usuario</label>
                      </div>

                      <h4>Correo Electrónico</h4>
                      <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="correoUsuario" value="@Session["CorreoUsuario"].ToString()" readonly>
                          <label for="correoUsuario">Correo Electrónico</label>
                      </div>

                      </form>
                  </div>
        <div class="buttons">
            <button class="edit-button" onclick="openEditProfileModal()">Editar</button>
            <button class="history-button">Historial de Pedidos</button>
        </div>
    </div>
</section>

