

@{
    ViewBag.Title = "Contacto";
}


@if (ViewBag.MsjPantalla != null)
{
    <div style="text-align:center" class="alert alert-warning" role="alert">
        @ViewBag.MsjPantalla
    </div>
}


<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <p>Tienda de Vidreos</p>
                <h1>Contácto</h1>
            </div>
        </div>
    </div>
</div>

<!-- end breadcrumb section -->
<!-- contact form -->
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
               
                    <h2>¿Tienes alguna pregunta?</h2>
                    <h4>Por este medio ofrecemos nuestros servicios de ayuda sobre nuestra pagina o sobre información de la empresa</h4>
               
                <div id="form_status"></div>
                <div class="contact-form">
                    <form type="POST" id="fruitkha-contact" onSubmit="return valid_datas( this );">
                        <p>
                            <input type="text" placeholder="Name" name="name" id="name">
                            <input type="email" placeholder="Email" name="email" id="email">
                        </p>
                        <p>
                            <input type="tel" placeholder="Phone" name="phone" id="phone">
                            <input type="text" placeholder="Subject" name="subject" id="subject">
                        </p>
                        <p><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea></p>

                        <p><input type="submit" value="Submit"></p>
                    </form>
                </div>
            </div>
            <div class="col-lg-4" >
                <div class="contact-form-wrap">
                    <div class="contact-form-box">
                        <h4><i class="fas fa-map"></i> Dirección de la tienda</h4>
                        <p>Calle Bolaños <br> Alajuela <br> Costa Rica</p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="far fa-clock"></i> Horario de la tienda</h4>
                        <p>Lunes - Viernes: 8 a 9 PM <br> Sábado - Domingo: 10 a 8 PM </p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="fas fa-address-book"></i> Contacto</h4>
                        <p>Phone: +506 8886 0525 <br> Email: supp@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact form -->
<!-- find our location -->
<div class="find-location blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> <i class="fas fa-map-marker-alt"></i> Nuestra ubicación</p>
            </div>
        </div>
    </div>
</div>
<!-- end find our location -->
<!-- google map section -->
<div class="embed-responsive embed-responsive-21by9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.253684426306!2d-83.69766902513972!3d9.912817374529157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0d6bef6c7cad1%3A0x845801ca8407efa1!2sComplejo%20Deportivo%20El%20Var%C3%B3n!5e0!3m2!1ses-419!2scr!4v1695004049991!5m2!1ses-419!2scr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>

</div>
<!-- end google map section -->
