
@{
    ViewBag.Title = "Datos";
}

@*@{
        ViewBag.Title = "Registro";
        Layout = "~/Views/Shared/_Layout - Login.cshtml";
    }*@

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <br />
                <br />
                <img src="~/images/Logo.png" width="200" height="100"> <!-- Ajusté el ancho y el alto del logo -->
                <br />
                <br />
                <h4>Tienda de Vidreos</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <p>Tienda de Vidreos</p>
                <h1>Acerca de nosotros</h1>
            </div>
        </div>
    </div>
</div>

<section class="profile">
    <div class="user-content">
    </div><br><br>
    <div class="user-info">
        <h4>
            Acerca de la Tienda Vidrios
        </h4>

        <h4>
            ¡Bienvenido a la Tienda Vidrios
        </h4>


        <h4>
            En Vidrios, nos enorgullece ofrecer una amplia gama de herramientas, complementos y soluciones para potenciar tu experiencia desde productos y muchas otras novedades
        </h4>

        <h4>
            Desde nuestras aplicaciones especializadas hasta nuestras extensiones personalizadas, estamos aquí para ayudarte a llevar tus proyectos de desarrollo al siguiente nivel.
        </h4>

        <h4>
            Nuestra misión es proporcionar las herramientas necesarias para optimizar su flujo de trabajo desde cual quierer material que se necesite de vidrios para tu casa de tus sueños hasta para tu empresa,
        </h4>

        <h4>
            aumentar su productividad y alcanzar sus objetivos de desarrollo de manera más eficiente para los usuarios y vendedores.
        </h4>

        <h4>
            Nos esforzamos por mantenernos a la vanguardia de la innovación tecnológica,
            ofreciendo soluciones que se adapten a las necesidades cambiantes de la comunidad de desarrollo.
        </h4>

        <h4>
            En la Tienda Vidrios,
            encontrarás una selección cuidadosamente curada de productos de alta calidad, desarrollados por expertos en la industria.
        </h4>

        <h4>
            Nos comprometemos a ofrecer soluciones confiables,
            seguras y fáciles de usar que te ayudarán a desarrollar impresionantes infraestruturas
        </h4>

        <h4>
            Nuestro equipo está compuesto por apasionados del desarrollo de software que están dedicados a brindarte el mejor servicio posible.
        </h4>

        <h4>
            Estamos aquí para responder tus preguntas,
            escuchar tus comentarios y proporcionarte el soporte que necesitas para aprovechar al máximo tu experiencia con nuestros productos.
        </h4>

        <h4>
            Gracias por elegir la Tienda de Vidrios.
            Esperamos poder acompañarte en tu viaje de desarrollo y ayudarte a alcanzar tus metas con éxito.
        </h4>

        <h4>
            ¡Explora nuestra tienda y descubre cómo Vidrios puede ayudarte a alcanzar tu máximo potencial como desarrollador de la casa de tus sueños o empresa si necesitas mas informacion solo contatanos y puedes
        </h4>

        <h4>
            hacerca de nosotros en nuestras redes sociales por facebook y instagram o escribiendonos por la pagina de nuestro sitio web te esperamos!
        </h4>

        <h4>
            nuestra historia somos los mejores a nivel de materiales y productos a nivel del pais somos los mejores numero 1 recuerda que si necesitas precios comodos y productos de buena calidad contactanos
        </h4>

        <h4>
            estamos hubicados en alajuela centro a un costado del parque del centro 250 metros ala izquierdad
        </h4>

        <h4>
            Atentamente no dudes en buscarnos somos,
        </h4>

        <h4>
            El equipo de Vidrios la empresa que cumple tus sueños y tus deseos

        </h4>

