@{
    ViewBag.Title = "Inicio";
}

    @if (ViewBag.MsjPantalla != null)
    {
        <div style="text-align:center" class="alert alert-warning" role="alert">
            @ViewBag.MsjPantalla
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p> Tienda de Vidrios</p>
                    <h1>Servicios que Ofrecemos</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container-card">

        <div class="card" style="background-color: #e8e8e8; ">
            <figure>
                <img src="~/images/pre.jpg" />
            </figure>
            <div class="contenido-card">
                <h3>Quienes somos?</h3>
                <p>Podemos crear la identidad corporativa de la empresa. Con toda su informacion de la corporativa para mayor seguridad </p>
                <a href="@Url.Action("Datos", "Home")">Leer Màs</a>
            </div>
        </div>

        <div class="card" style="background-color: #e8e8e8; ">
            <figure>
                <img src="~/images/ven.jpg" />
            </figure>
            <div class="contenido-card">
                <h3>Vidrios</h3>
                <p>Nuestra gran variedad de vidrios de gran calidad estan disponible a nuestros clientes para su mayor conveniencia</p>
                <a href="@Url.Action("Vidrio", "Home")">Ir a vidrios</a>
            </div>
        </div>
        <div class="card" style="background-color: #e8e8e8; ">
            <figure>
                <img src="~/images/redes.jpg" />
            </figure>
            <div class="contenido-card">
                <h3>Redes sociales</h3>
                <p>Nosotros creamos y optimizamos tus perfiles en las Redes Sociales. Importantes para que tu presencia online sea completa</p>
                <a href="@Url.Action("Redes", "Home")">Ver Màs</a>
            </div>
        </div>
    </div>
    </br>
