
@{
    ViewBag.Title = "Redes";
}

@*@{
            ViewBag.Title = "Registro";
            Layout = "~/Views/Shared/_Layout - Login.cshtml";
    }*@
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <br />
                <br />
                <img src="~/images/Logo.png" width="200" height="100"> <!-- Ajusté el ancho y el alto del logo -->
                <br />
                <br />
                <h4>Tienda de Vidreos</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <p>Tienda de Vidreos</p>
                <h1>Redes sociales</h1>
            </div>
        </div>
    </div>
</div>

<section class="profile">
    <div class="user-content">
    </div><br><br>
    <div class="user-info">
        <h4>
            Instagram: Vitreos_24
        </h4>

        <h4>
            Facebook: Vitreos_24
        </h4>


        <h4>
            Email: ccalderon@vitreos.net
        </h4>




