

@{
    ViewBag.Title = "Reportes";
}



<div class="row">

    @if (ViewBag.MsjPantalla != null)
    {
        <div style="text-align:center" class="alert alert-warning" role="alert">
            @ViewBag.MsjPantalla
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p> Tienda de Vidreos</p>
                    <h1>Reportes y Analíticas</h1>
                </div>
            </div>
        </div>
    </div>
</div>

    <section >
        <div class="report">
            <h3>Informe de Ventas</h3>
            <canvas id="salesChart"></canvas> <!-- Espacio para el gráfico -->
        </div>
        <!-- Repite este bloque para más informes -->
    </section>
